[submodule "submodules/cilium"]
	path = submodules/cilium
	url = https://github.com/cilium/cilium
[submodule "submodules/external-secrets"]
	path = submodules/external-secrets
	url = https://github.com/external-secrets/external-secrets.git
