[submodule "submodules/cilium"]
	path = submodules/cilium
	url = https://github.com/cilium/cilium
[submodule "submodules/argo"]
	path = submodules/argo
	url = https://github.com/argoproj/argo-helm.git
