#!/bin/bash

systemctl disable firewalld --now

curl -sfL https://get.k3s.io | K3S_TOKEN=${k3s_token} K3S_NODE_NAME=$(hostname) sh -s - server \
  --bind-address 0.0.0.0 \
  --cluster-cidr 10.0.0.0/18 \
  --service-cidr 10.0.64.0/18 \
  --cluster-dns 10.0.64.10 \
  --tls-san $(hostname -I | awk '{print $1}') \
  --tls-san ${lb_ip} \
  --tls-san k3s.austinbayley.co.uk