apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: temporal-secrets
  namespace: temporal
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: oci-secret-store
    kind: ClusterSecretStore
  target:
    name: temporal-secrets
    creationPolicy: Owner
    template:
      data:
        mysql_password: "{{ .mysql_password }}"
  data:
    - secretKey: mysql_password
      remoteRef:
        key: mysql_password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: temporal-web-env
  namespace: temporal
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: oci-secret-store
    kind: ClusterSecretStore
  target:
    name: temporal-web-env
    creationPolicy: Owner
    template:
      data:
        TEMPORAL_AUTH_ENABLED: "true"
        TEMPORAL_AUTH_TYPE: "oidc"
        TEMPORAL_AUTH_PROVIDER_URL: https://dev-hoo0x1gbvzrm2jd2.uk.auth0.com/
        TEMPORAL_AUTH_ISSUER_URL: https://dev-hoo0x1gbvzrm2jd2.uk.auth0.com/
        TEMPORAL_AUTH_CLIENT_ID: "E1Id4VSoAEDoZnMB1ykNyyvwlSaGUeZe"
        TEMPORAL_AUTH_CLIENT_SECRET: "{{ .clientSecret }}"
        TEMPORAL_AUTH_CALLBACK_URL: "https://temporal.austinbayley.co.uk/auth/sso/callback"
        TEMPORAL_AUTH_SCOPES: "openid,email,profile"
  data:
    - secretKey: clientSecret
      remoteRef:
        key: stg_auth_client_secret