namespaceOverride: kube-system

operator:
  replicas: 1
  clusterPoolIPv4PodCIDRList:
    - 10.0.0.0/18
  clusterPoolIPv4MaskSize: 24

kubeProxyReplacement: true

gatewayAPI:
  enabled: true

envoy:
  enabled: false

hubble:
  relay:
    enabled: true
  ui:
    enabled: true
