namespaceOverride: kube-system

operator:
  replicas: 1

kubeProxyReplacement: true

gatewayAPI:
  enabled: true
  hostNetwork:
    enabled: true

envoy:
  enabled: true

hubble:
  relay:
    enabled: true
  ui:
    enabled: true
