apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-route
  namespace: argocd
spec:
  parentRefs:
    - name: default-gateway
      namespace: envoy-gateway-system
  hostnames:
    - "argocd.austinbayley.co.uk"
  rules:
    - backendRefs:
        - name: argocd-server
          port: 80
